<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :semesters do |builder| %>
    <div class="field">
      <%= builder.label :term %>
      <%= builder.text_field :term %>
    </div>
    <div class="field">
      <%= builder.label :lesson_tokens, "Semester" %>
      <%= builder.text_field :lesson_tokens, :class => "lesson_tokens", "data-pre" => builder.object.courses.to_json(:only => [:id, :name]) %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
