<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @plan.name %>
</p>


<% for semester in @plan.semesters %>
<p>
  <b>Semester: <%= semester.term %> </b>
  <ul>
    <% for course in semester.courses %>
      <li><%= course.name %> </li>
    <% end %>
  </ul>
</p>
 <% end %> 


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
