<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @lesson.course_id %>
</p>

<p>
  <b>Semester:</b>
  <%= @lesson.semester_id %>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
